:root{
	--header-height: 3rem;
	--header-margin: 1rem;
	--font-size: 1rem;
	--title-font-size: 1.5rem;
	--columns: 1;
	--show-element: none;
}

@media screen and (min-width: 600px){
	:root{
		--header-height: 9rem;
		--header-margin: 6rem;
		--font-size: 1.25rem;
		--title-font-size: 1.75rem;
		--columns: 4;
		--show-element: block;
	}
}

*{
	margin: 0px;
	padding: 0px;
}

body{
	margin-top: calc(var(--header-height) + var(--header-margin));
	font-size: var(--font-size);
}

div{
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
}

main{
	grid-column-start: span 3;
}

h1{
	font-size: var(--title-font-size);
}

header{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: var(--header-height);
	background: black;
}

h2{
	padding: 1rem;
	background: tomato;
}

h3{
	display: var(--show-element);
}
