/*
	sticky:
		- pierde su espacio reservado.
		- Su referencia es la scroll.
*/

* {
	margin: 0px;
	padding: 0px
}

body {
	margin-top: 4rem;
	padding: 1rem;
	min-height: 200vh;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: black;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 3rem;
}

.menu {
	display: flex;
	list-style: none;
}

li {
	margin-right: 1rem;
}

a {
	display: inline-block;
	color: white;
}

:target {
	padding-top: 3rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	min-height: 200vh;
}

main {
	grid-column-start: span 3;
}

.sidebar {
	position: sticky;
	top: 4rem;
	background: tomato;
	height: 400px
}
